<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<mapping>
		<class-a>java.util.Properties</class-a>
		<class-b map-null="false" map-empty-string="false">jp.co.tis.gsp.tools.dba.mojo.ExportSchemaMojo
		</class-b>
		<field>
			<a key="outputDirectory">this</a>
			<b is-accessible="true">outputDirectory</b>
		</field>
	</mapping>

</mappings>