<mappings xmlns="http://dozer.sourceforge.net" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://dozer.sourceforge.net http://dozer.sourceforge.net/schema/beanmapping.xsd">

	<configuration>
		<custom-converters>
			<converter type="jp.co.tis.gsp.test.util.dozer.ClassPathFileConverter">
				<class-a>java.lang.String</class-a>
				<class-b>java.io.File</class-b>
			</converter>
			<converter type="jp.co.tis.gsp.test.util.dozer.LengthSemanticsConverter">
				<class-a>java.lang.String</class-a>
				<class-b>jp.co.tis.gsp.tools.db.LengthSemantics</class-b>
			</converter>
		</custom-converters>
	</configuration>

	<mapping>
		<class-a>java.util.Properties</class-a>
		<class-b map-null="false" map-empty-string="false">jp.co.tis.gsp.tools.dba.mojo.GenerateDdlMojo</class-b>
		<field>
			<a key="erdFile">this</a>
			<b is-accessible="true">erdFile</b>
		</field>
		<field>
			<a key="outputDirectory">this</a>
			<b is-accessible="true">outputDirectory</b>
		</field>
		<field>
			<a key="lengthSemantics">this</a>
			<b is-accessible="true">lengthSemantics</b>
		</field>
		<field>
			<a key="ddlTemplateFileDir">this</a>
			<b is-accessible="true">ddlTemplateFileDir</b>
		</field>
	</mapping>

	<mapping>
		<class-a map-get-method="getProperty">
			java.util.Properties
		</class-a>
		<class-b map-null="false" map-empty-string="false">jp.co.tis.gsp.tools.dba.mojo.AbstractDbaMojo</class-b>
		<field>
			<a key="driver">this</a>
			<b is-accessible="true">driver</b>
		</field>
		<field>
			<a key="url">this</a>
			<b is-accessible="true">url</b>
		</field>
		<field>
			<a key="adminUser">this</a>
			<b is-accessible="true">adminUser</b>
		</field>
		<field>
			<a key="adminPassword">this</a>
			<b is-accessible="true">adminPassword</b>
		</field>
		<field>
			<a key="user">this</a>
			<b is-accessible="true">user</b>
		</field>
		<field>
			<a key="password">this</a>
			<b is-accessible="true">password</b>
		</field>
		<field>
			<a key="schema">this</a>
			<b is-accessible="true">schema</b>
		</field>
		<field>
			<a key="dmpFile">this</a>
			<b is-accessible="true">dmpFile</b>
		</field>
	</mapping>

</mappings>